<div class="container">
  <div class="row">
    <h2 class="center-align" id="user-page" data-user-id="<%= @user.id %>"><%= @user.login %>'s Git_Feed</h2>
      <ul class="event-feed-list">
        <li>
          <div class="card">
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4 event-title"> <i class="mdi-navigation-more-vert right"></i></span>
                  <div class="waves-effect waves-block waves-light col s3">
                    <p><a href="####needstobeurlforeventagent"><%= image_tag  "#{@user.avatar_url}", class: "circle img-avatar"%></a></p>
                  <div class="col s6">
                    <h6>time here</h6>
                  </div>
                  </div>

                  <div class="col s8 offest-s3">
                    <p><h5 class="event-user-login">Hello there</h5><a href="#">This is a link</a></p>

                    <p>
                        All feeds for all events. Go find things and you'll see. Continue below to read. Go find things and you'll see. Continue below to read. Ipsum. Ipsum Ipsum.
                    </p>
                  </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Card Title <i class="mdi-navigation-close right"></i></span>
                <p>Ill be adding information here. im not quite sure what yet, but maybe options or just more information.</p>
              </div>
            </div>
          </li>
        </div>
      </ul>
  </div>
</div>
