<div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper black">
        <%= link_to "Git_Feed", "#", class: "brand-logo" %>
        <ul class="right hide-on-med-and-down">
          <li><%= link_to "Feed", "#" %></li>
          <li><%= link_to "Explore", "#" %></li>
          <li><%= link_to "SomethingElse", "#" %></li>
        </ul>
      </div>
    </nav>
  </div>
