<div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper black">
        <%= link_to "Git_Feed", "#", id: "brand-logo" %>


        <ul class="right hide-on-med-and-down">
          <li class="col s6">
            <div class="input-field">
              <input id="search-bar" type="text" class="validate">
              <label for="search-bar">Search</label>
            </div>
          </li>
          <li><%= link_to "Public Feed", "#", id: "public-feed" %></li>
          <li><%= link_to "Explore", "#", id: "explore" %></li>
          <% if logged_in? %>
          <li><%= link_to "Log Out", logout_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>
  </div>
