// Main Style

@font-face {
  h1 {
    font-weight: medium;
  }
}


// Login page

.page {
    margin: auto;
    height: 100%;
    background-color: black;
}

#feed-logo {
  padding-top: 20px;
}

#brand-logo {
  padding-left: 10px;
  font-size: 30px;
}



#login {
  padding-top: 10%;
}

.img-avatar {
  height: 100px;
  width: 100px;

}

.undo-padding {
  padding-left: 0px !important;
}

.filled-in {
  font-weight: 12px !important ;
}

.hidden {
  display:none;
}
