// Main Style

@font-face {
  h1 {
    font-weight: medium;
  }
}


// Login page

.page {
    margin: auto;
    height: 100%;
    background-color: black;
}

#feed-logo {
  padding-top: 20px;
}



#login {
  padding-top: 10%;
}

.img-avatar {
  height: 178px;
  width: 178px;

}
